h1 {
    color: red;
    background-color: aquamarine;
    font-size: large;
}
#manhattan {
    color: white;
    background-color: blue;
}
#brooklyn {
    color: white;
    background-color: blue;
}
#queens {
    color: white;
    background-color: blue;
}
#bronx {
    color: white;
    background-color: blue;
}
#statenIsland {
    color: white;
    background-color: blue;
}
.button{
    background-color: orange;
    color: white;
}

