h1 {
    color: red;
    background-color: aquamarine;
    font-size: large;
}
#brooklyn{
    background-color: blue;
    color: white;
}
#manhattan{
    background-color: blue;
    color: white;
}
#queens{
    background-color: blue;
    color: white;
}
#bronx{
    background-color: blue;
    color: white;
}
#staten-island{
    background-color: blue;
    color: white;
}